/* FONDO (igual que HOME) */

.admin-bg {
  --background: #2CAD89;
}

/* HEADER */

ion-toolbar {
  --background: transparent;
  --color: white;
}

/* CARDS (tipo white-card) */

ion-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

/* KPI */

.kpi-title {
  font-size: 13px;
  color: #777;
}

.kpi-value {
  font-size: 26px;
  font-weight: bold;
  margin-top: 5px;
}


/* BOTONES */

ion-button {
  --border-radius: 12px;
  font-weight: bold;
}

/* Botón principal (QR) */
ion-button[color="primary"] {
  --background: #2CAD89;
}

/* Botón manual */
ion-button[color="tertiary"] {
  --background: #27ae60;
}

/* Botón cobrar */
ion-button[color="warning"] {
  --background: #f39c12;
}

/* LISTA VEHÍCULOS */

ion-item {
  border-radius: 12px;
  margin-bottom: 8px;
  --background: #f9f9f9;
}

/* TEXTO */

ion-label h2 {
  font-weight: bold;
  color: #2c3e50;
}

ion-label p {
  font-size: 13px;
  color: #555;
}

/* GRID RESPONSIVO KPI */

ion-row {
  display: flex;
  flex-wrap: wrap;
}

/* KPI CARDS IGUALES */

.kpi-card {
  height: 100%;
  min-height: 120px; /* 🔥 altura uniforme */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* contenido centrado */
.kpi-card ion-card-content {
  width: 100%;
}


/* RESPONSIVE */

@media (max-width: 480px) {
  ion-col {
    size: 12 !important; 
  }

  .kpi-card {
    min-height: 110px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  ion-col {
    size: 6 !important; /* 2 por fila */
  }
}