<ion-content class="login-bg">
  <div class="login-wrapper">
    <div class="logo-circle">E</div>
    
    <div class="card">
      <h1>Inicio de sesión</h1>
      
      <form (ngSubmit)="login()" class="form-container">

        <ion-item lines="none" class="input-item">
          <ion-input
            placeholder="Correo"
            type="email"
            name="correo"
            [(ngModel)]="correo"
            required>
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="input-item">
          <ion-input
            type="password"
            placeholder="Contraseña"
            name="password"
            [(ngModel)]="password"
            required>
          </ion-input>
        </ion-item>

        <ion-button
          expand="block"
          class="main-btn"
          type="submit"
          [disabled]="!correo || !password">
          INICIAR SESIÓN
        </ion-button>
        
        <p class="register-text">
          ¿No tienes cuenta? 
          <a
            [routerLink]="['/register']"
            style="color: #27ae60; font-weight: bold; cursor: pointer; text-decoration: none;">
            Registrarte
          </a>
        </p>

      </form>
    </div>
  </div>
</ion-content>