<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent; --border-style: none; border: none;">
    <ion-buttons slot="end">
      <app-logout-button></app-logout-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-bg">
  <div class="home-wrapper">
    
    <div class="white-card">
      
      <div class="image-box">
        <img src="assets/icon/car.png" alt="Auto Estacionamiento" class="car-image">
      </div>

      <div class="text-content">
        <p>Bienvenido a</p>
        <h2 class="brand-name">"La cochera"</h2>

        
        <p class="tagline">✨Escanea y entra sin complicaciones✨</p>

       
        <p>🚗 contamos con <strong>{{ stats.availableSpaces }}</strong></p>
        <p>espacios disponibles</p>

        
        <p>💰 $20 / hora</p>

        
        <p>⏰ 8:00 AM - 10:00 PM</p>

        
        <p>🔒 Seguro y vigilado</p>
      </div>

      <ion-button expand="block" class="main-btn" (click)="irAEntrada()">
        INGRESAR
      </ion-button>

    </div>

  </div>
</ion-content>