<ion-content class="home-bg">
  <div class="home-wrapper">
    
    <div class="white-card">
      
      <div class="image-box">
        <img src="assets/icon/car.png" alt="Auto Estacionamiento" class="car-image">
      </div>

      <div class="text-content">
        <p>Bienvenido a</p>
        <h2 class="brand-name">"Estacionamiento"</h2>
        <p>contamos con <strong>3</strong></p>
        <p>espacios disponibles</p>
      </div>

      <ion-button expand="block" class="main-btn" (click)="irAEntrada()">
        INGRESAR
      </ion-button>

    </div>

  </div>
</ion-content>