<ion-content class="home-bg">
  <div class="home-wrapper">
    <div class="white-card">
      
      <div class="code-badge">E</div>

      <div class="qr-container">
        <img [src]="qrImage" *ngIf="qrImage" />
        <div class="scan-me">SCAN ME</div>
      </div>

      <div class="text-content">
        <p>Total a pagar</p>
        <h2 class="price-tag">
  ${{ precio }}
</h2>

<p *ngIf="tiempo">
  Tiempo: {{ tiempo.toFixed(2) }} minutos
</p>
      </div>
      
    </div>
  </div>
</ion-content>