<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent; --border-style: none; border: none;">
    <ion-buttons slot="end">
      <app-logout-button></app-logout-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="home-bg">
  <div class="home-wrapper">
    <div class="white-card">

      <div class="code-badge">E</div>
      
      <div class="text-content">
        <p>Hola</p>
        <h2 class="brand-name">este es tu código para ingresar</h2>
      </div>

      <div class="qr-placeholder">
        <img [src]="qrImage" [hidden]="!qrImage" />
      </div>

      <ion-button expand="block" class="main-btn" (click)="irAPagoFinal()">
        PAGAR
      </ion-button>

    </div>
  </div>
</ion-content>